
@{
    ViewBag.Title = "Receipt";
    ViewBag.Selected = "receipt";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/root.css")
@Styles.Render("~/Content/Partials/sidebar.css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/fontawesome.css")
@Styles.Render("~/Content/Partials/pos.css")
@Styles.Render("~/Content/Partials/header.css")
@Styles.Render("~/Content/Partials/form.css")
@Styles.Render("~/Content/Partials/config.css")
@Styles.Render("~/Content/Partials/agenda.css")
@Styles.Render("~/Content/Partials/animation.css")
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

@if (Session["access"] == null)
{
    <script>alert('Você não tem acesso ou não está logado')</script>
    <script>window.location.href = "localhost/error/"</script>
}

<title>Recibo - Dom Tchochoro</title>
<main class="page-page-receipt">
    <header>
        <a href="@Url.Action("Pos", "Home")"><img src="~/Content/Imagens/send-back.svg" alt="Send back" class="send-img" /></a>
        <span></span>
        <small id="personName">@Session["name"]</small>
        <img class="img-fluid avatar-picture" src=@ViewBag.Img />
    </header>

    <div class="container-receipt">
        <div class="header-logo">
            <div id="logo">
                <svg width="80" height="108" viewBox="0 0 80 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Logo">
                        <path id="D logo" d="M0 107.158V0H9.63879L9.86829 0.343456L11.4748 3.20559L40.8501 3.0911C72.6122 4.00698 79.6348 22.7062 79.1758 31.9414V79.9107C77.3398 102.35 52.0954 107.425 39.7026 107.158H0Z" fill="#2B94F9" />
                        <g id="Group 26">
                            <g id="dog">
                                <g id="g494">
                                    <path id="Intersect" fill-rule="evenodd" clip-rule="evenodd" d="M21 107.156L26.1705 33.0412C28.5046 31.9741 30.8386 30.9058 33.1715 29.8375L42.3708 29.5621L49.6758 18.0001L51.8403 38.6475C53.5526 39.7358 55.265 40.825 56.9771 41.914C58.1505 42.6604 59.3239 43.4067 60.4971 44.1526C60.8607 45.9787 61.2934 49.5119 59.9568 53.5122C57.4719 60.9539 50.8814 63.9941 49.6758 64.5247L53.1932 67.0014L55.2429 105.084C50.642 106.533 46.253 107.138 42.6331 107.156H21Z" fill="white" />
                                </g>
                                <g id="g502">
                                    <path id="path504" d="M56.8931 44.848H49.0478C48.8759 45.5198 48.6701 46.7422 49.0478 48.1517C49.4454 49.6389 52.7933 51.9838 52.9979 52.0756C53.1733 52.0156 56.05 50.5249 56.623 49.253C57.5467 47.1987 57.0346 45.3151 56.8931 44.848Z" fill="#211915" />
                                </g>
                                <g id="g506">
                                    <path id="path508" d="M56.8931 44.848H49.0478C48.8759 45.5198 48.6701 46.7422 49.0478 48.1517C49.4454 49.6389 52.7933 51.9838 52.9979 52.0756C53.1733 52.0156 56.05 50.5249 56.623 49.253C57.5467 47.1987 57.0346 45.3151 56.8931 44.848Z" stroke="#211915" stroke-width="1.33333" stroke-miterlimit="10" />
                                </g>
                                <g id="g510">
                                    <path id="path512" d="M30.7173 41.8206C30.7173 44.2526 31.7159 46.2245 32.9496 46.2245C34.1821 46.2245 35.1819 44.2526 35.1819 41.8206C35.1819 39.3875 34.1821 37.4156 32.9496 37.4156C31.7159 37.4156 30.7173 39.3875 30.7173 41.8206Z" fill="#211915" />
                                </g>
                                <g id="g514">
                                    <path id="path516" d="M30.7173 41.8206C30.7173 44.2526 31.7159 46.2245 32.9496 46.2245C34.1821 46.2245 35.1819 44.2526 35.1819 41.8206C35.1819 39.3875 34.1821 37.4156 32.9496 37.4156C31.7159 37.4156 30.7173 39.3875 30.7173 41.8206Z" stroke="#211915" stroke-width="1.33333" stroke-miterlimit="10" />
                                </g>
                                <g id="g518">
                                    <path id="path520" d="M42.2837 41.8206C42.2837 44.2526 43.2823 46.2245 44.516 46.2245C45.7485 46.2245 46.7471 44.2526 46.7471 41.8206C46.7471 39.3875 45.7485 37.4156 44.516 37.4156C43.2823 37.4156 42.2837 39.3875 42.2837 41.8206Z" fill="#211915" />
                                </g>
                                <g id="g522">
                                    <path id="path524" d="M42.2837 41.8206C42.2837 44.2526 43.2823 46.2245 44.516 46.2245C45.7485 46.2245 46.7471 44.2526 46.7471 41.8206C46.7471 39.3875 45.7485 37.4156 44.516 37.4156C43.2823 37.4156 42.2837 39.3875 42.2837 41.8206Z" stroke="#211915" stroke-width="1.33333" stroke-miterlimit="10" />
                                </g>
                                <g id="Hat">
                                    <g id="g526">
                                        <path id="path528" d="M14.1108 21.6889C15.0755 20.2634 16.6524 18.3386 19.0791 16.6792C21.3625 15.1156 23.5911 14.342 25.2139 13.9362C27.5885 17.5195 29.9616 21.1007 32.3351 24.6843C32.7274 25.2767 33.1196 25.868 33.5119 26.4605C32.9487 27.7456 31.6415 30.2008 28.8878 31.9385C26.9319 33.1717 24.9945 33.5711 23.731 33.7125C20.5246 29.7042 17.3182 25.6959 14.1108 21.6889Z" fill="white" />
                                    </g>
                                    <g id="g530">
                                        <path id="path532" d="M14.1108 21.6889C15.0755 20.2634 16.6524 18.3386 19.0791 16.6792C21.3625 15.1156 23.5911 14.342 25.2139 13.9362C27.5885 17.5195 29.9616 21.1007 32.3351 24.6843C32.7274 25.2767 33.1196 25.868 33.5119 26.4605C32.9487 27.7456 31.6415 30.2008 28.8878 31.9385C26.9319 33.1717 24.9945 33.5711 23.731 33.7125C20.5246 29.7042 17.3182 25.6959 14.1108 21.6889Z" stroke="white" stroke-width="1.33333" stroke-miterlimit="10" />
                                    </g>
                                    <g id="g534">
                                        <path id="path536" d="M22.6092 32.2745C20.1911 34.5657 19.8292 35.238 20.0452 35.7865C20.5202 36.9928 23.6184 37.1464 25.541 36.911C28.2671 36.5797 30.0414 35.2999 31.497 34.2188C33.1651 32.9829 36.5904 30.3638 37.0649 26.0774C37.144 25.3643 37.2817 23.9766 36.6032 23.4516C35.8681 22.8816 34.5745 23.6306 32.582 24.8785C26.8631 28.4607 24.5716 30.4141 22.6092 32.2745Z" fill="white" />
                                    </g>
                                    <g id="g538">
                                        <path id="path540" d="M22.6092 32.2745C20.1911 34.5657 19.8292 35.238 20.0452 35.7865C20.5202 36.9928 23.6184 37.1464 25.541 36.911C28.2671 36.5797 30.0414 35.2999 31.497 34.2188C33.1651 32.9829 36.5904 30.3638 37.0649 26.0774C37.144 25.3643 37.2817 23.9766 36.6032 23.4516C35.8681 22.8816 34.5745 23.6306 32.582 24.8785C26.8631 28.4607 24.5716 30.4141 22.6092 32.2745Z" stroke="white" stroke-width="1.33333" stroke-miterlimit="10" />
                                    </g>
                                    <g id="g542">
                                        <path id="path544" d="M21.1238 30.4537C22.7189 29.8521 24.7029 28.9043 26.7391 27.3869C28.7267 25.9032 30.1788 24.3125 31.2049 22.9788C31.9745 24.1389 32.743 25.2992 33.5116 26.4607C32.984 27.6786 31.799 29.9186 29.3473 31.6315C27.1904 33.138 25.0059 33.5704 23.7307 33.7127L21.1238 30.4537Z" fill="black" />
                                    </g>
                                    <g id="g546">
                                        <path id="path548" d="M21.1238 30.4537C22.7189 29.8521 24.7029 28.9043 26.7391 27.3869C28.7267 25.9032 30.1788 24.3125 31.2049 22.9788C31.9745 24.1389 32.743 25.2992 33.5116 26.4607C32.984 27.6786 31.799 29.9186 29.3473 31.6315C27.1904 33.138 25.0059 33.5704 23.7307 33.7127L21.1238 30.4537Z" stroke="black" stroke-width="1.33333" stroke-miterlimit="10" />
                                    </g>
                                </g>
                                <g id="Tie">
                                    <g id="g550">
                                        <path id="path552" d="M33.8222 63.8558C34.6676 63.3958 36.2837 64.4782 36.8414 64.8524C37.1969 65.0912 37.5407 65.3818 37.5594 65.3983C38.0482 65.8148 38.4049 66.2207 38.6458 66.5231C38.8071 66.9325 39.0714 67.7879 38.7089 68.5797C38.5744 68.875 38.33 69.2115 36.4953 70.1645C35.0547 70.914 34.3285 71.2846 33.9824 71.1187C33.3801 70.8293 33.3415 69.7327 33.2948 67.5514C33.248 65.3042 33.2363 64.1747 33.8222 63.8558Z" fill="black" />
                                    </g>
                                    <g id="g554">
                                        <path id="path556" d="M44.9998 63.8558C44.1544 63.3958 42.5395 64.4782 41.9817 64.8524C41.625 65.0912 41.2824 65.3818 41.2625 65.3983C40.7749 65.8148 40.4183 66.2207 40.1762 66.5231C40.0148 66.9325 39.7517 67.7879 40.113 68.5797C40.2487 68.875 40.4931 69.2115 42.3278 70.1645C43.7673 70.914 44.4946 71.2846 44.8408 71.1187C45.443 70.8293 45.4804 69.7327 45.5272 67.5514C45.5751 65.3042 45.5868 64.1747 44.9998 63.8558Z" fill="black" />
                                    </g>
                                    <path id="path558" d="M38.5864 66.4335H40.6047V68.5372H38.5864V66.4335Z" fill="black" />
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <p class="data-title">07-09-2020</p>
        </div>
        <hr class="divide" />
        <p class="center-text">58924735-#6669</p>
        <div class="content-receipt">
            <div class="item-text">
                <div class="about-text">
                    <p class="opacity-text">2X 5332</p>
                    <p class="item-name">Brinquedo de Pelúcia Chalesco Crocodilo</p>
                </div>
                <p class="price">R$ 42,00</p>
            </div>
            <div class="item-text">
                <div class="about-text">
                    <p class="opacity-text">1X 24234</p>
                    <p class="item-name">Ração Golden Fórmula Light para Cães Adultos - 15kg</p>
                </div>
                <p class="price">R$ 134,00</p>
            </div>
            <div class="item-text">
                <div class="about-text">
                    <p class="opacity-text">1X 424234</p>
                    <p class="item-name">Camiseta Piticas Capitã Marvel</p>
                </div>
                <p class="price">R$ 34,00</p>
            </div>
            <div class="text-price">
                <span>Total</span>
                <span>
                    R$ 260
                </span>
            </div>
        </div>

        <a href='@Url.Action("FinishOrder", "Home")'>
            <button class="finish-button" type="submit">
                Próximo cliente
                <img src="~/Content/Imagens/arrow-right.svg" alt="Arrow right" class="arrow" />
            </button>
        </a>
    </div>
</main>